<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/base_head.liquid" %}
    {% include "components/blog_post_head.liquid" %}
    {% if math %}
      {% include "components/math_head.liquid" %}
    {% endif %}
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}
    {% include "components/blog_post_header.liquid" %}
    {% include "components/blog_post.liquid" content: content %}
    {% include "components/blog_post_navigation.liquid" %}
    {% include "components/blog_post_feedback.liquid" %}
    {% include "components/blog_post_footer.liquid" most_recent_change: date, rss_url: "/atom.xml" %}
    {% include "components/scroll_to_top.liquid" %}
  </body>
</html>
