<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/base_head.liquid" %}
    {% include "components/standalone_head.liquid" %}
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}
    {% include "components/standalone_page_header.liquid" %}
    {% include "components/blog_post.liquid" %}
    {% include "components/blog_post_footer.liquid" most_recent_change: date, rss_url: "/atom.xml" %}
  </body>
</html>
