* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: rgb(20, 20, 20);
    font: lighter 1.3em/1.5 Helvetica, Georgia, serif;
}

noscript {
    display: block;
    color: #aaa;
    width: 20em;
    margin: 4em auto 0;
    text-align: justify;
}

#gameArea {
    display: block;
    margin: 100px auto 0;
    width: 480px;
}

#drawingCanvas {
    display: block;
    width: 100%;
}

#narrationArea {
    margin-top: 2em;
    text-align: center;
    height: 5em;
}

#narrationArea li {
    color: #ccc;
    list-style: none;
}
