* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #f0f0f0;
    color: #333;
    font: lighter 1.3em/1.5 Helvetica, Georgia, serif;
}

#content {
    min-height: 1000px;
    text-align: center;
}

/* Header */

#indexHeader {
    max-width: 1200px;
    margin: 0 auto;
}

#postHeader, #errorHeader {
    margin-top: 1em;
    text-align: center;
}

#hero, #title {
    background: #fff;
    border-bottom: 1px solid #bbb;
    box-shadow: 0px 0px 4px #c8c8c8;
    height: 160px;
}

#hero {
    position: absolute;
    float: left;
    width: 150px;
}

#hero img {
    float: left;
    margin-left: 8px;
}

#title {
    margin-left: 160px;
    min-width: 710px;
}

#hero img {
    margin-top: 10px;
}

#title img {
    margin: 60px 0 0 10px;
}

/* Body */

#standalonePost, #standaloneNote, #noteDisclaimer, #postNavigation, #allPosts {
    width: 30em;
    margin: 0 auto;
}

#standaloneNote {
    width: 44em;
}

#allPosts {
    margin-bottom: 3em;
}

#standalonePost, #standaloneNote, #noteDisclaimer {
    background: #fff;
    margin: 1em auto;
    padding: 1em 1em 3em 0;
}

#noteDisclaimer {
    background: #fdd;
    font-size: 0.8em;
}

#postNavigation {
    margin-bottom: 1em;
}

#posts {
    margin: 1.5em auto 0;
    display: inline-block;
}

#posts li, #allPosts li {
    background: #fff;
    padding: 1em 1em 1em 0;
}

#allPostsFloat {
    margin: 0 0 1em 0;
}

#allPostsFloat a {
    test-align: center;
    background: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 0px 0px 4px #c8c8c8;
}

#posts li {
    float: right;
    width: 22.6em;
    margin-bottom: 1.5em;
}

#standalonePost, #standaloneNote, #noteDisclaimer, #posts li, #allPosts li {
    box-shadow: 0px 0px 4px #c8c8c8;
}

#allPosts li {
    margin: 1em auto;
}

#posts li:first-child {
    margin-left: 1em;
}

.post p, #noteDisclaimer p {
    margin: 1em 0 0 1em;
    text-align: justify;
}

.post h3 {
    margin: 1.2em 0 0 0.6em;
    font-size: 1.1em;
}

.post img {
    max-width: 90%;
}

figure {
    text-align: center;
    margin: 1em;
}

figcaption {
    display: none;
}

.postTitle {
    min-height: 1.6em;
    margin-left: 1em;
}

.postTitle h2 {
    font-size: 1.2em;
    display: block;
    float: left;
}

.noteTitle h2 {
    font-size: 1.4em;
    text-align: center;
    margin: 1em 0 2em;
}

.postTitle time {
    float: right;
    display: block;
}

.postTail {
    margin-top: .6em;
    text-align: right;
}

.postTail a {
    color: #91911a;
    text-decoration: none;
}

#postNavigation {
    text-align: center;
    font-size: 1.2em;
}

#postNavigation li {
    color: #ccc;
    display: inline-block;
    width: 8em;
}

#postNavigation a {
    color: #666;
    text-decoration: none;
}

#errorHeader {
    margin-top: 3em;
}

#errorContent {
    margin: 3em 0;
}

#errorContent h3 {
    margin: 0 0 2em;
}

/* Footer */

#indexFooter {
    background: #fff;
    border-top: 1px solid #bbb;
    box-shadow: 0px 0px 4px #c8c8c8;
    clear: both;
    padding: 0.4em 0;
    text-align: center;
    line-height: 1.4;
}

#postFooter {
    color: #aaa;
    clear: both;
    margin-top: 1em;
    text-align: center;
    padding-bottom: 2em;
}

#postFooter a {
    color: #aaa;
}

#indexFooter li, #postFooter li {
    display: inline;
}

#indexFooter li:after, #postFooter li:after {
    content: " | ";
}

#indexFooter li:last-child:after, #postFooter li:last-child:after {
    content: "";
}

/* All links */

a {
    color: #333;
}

a:hover {
    color: #611;
}

/* Code */

code {
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
    text-align: left;
}

pre.sourceCode, .spoiler-box:hover pre.sourceCode {
    font-family: monospace;
    border: 1px solid #eaeaea;
    border-left: .4em solid #faf5d4;
    background-color: #f8f8f8;
    margin: 1.5em 0;
    padding: 0.4em 0 0.4em 2.0em;
    line-height: 1.3;
    overflow-x: auto;
    text-align: left;
}

pre.sourceCode code {
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

/* Blockquote */

blockquote {
    background: url("../../r/quote.png") no-repeat scroll 6px 3px transparent;
    margin: 1em 0;
    padding: 0 5px;
}

.post blockquote p {
    margin: 0.2em 0 0 2em;
    font-style: italic;
    font-size: 0.94em;
    line-height: 1.2;
}

/* Post type */

#postType {
    background: #fff;
    width: 200px;
    height: 3em;
    position: absolute;
    top: 0;
    left: -50px;
    text-align: center;

    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    box-shadow: 0px 0px 4px #c8c8c8;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#postType h1 {
    font: 1.1em/2.6 Verdana, sans;
    font-variant: small-caps;
    font-weight: bold;
    margin-right: 1em;
}

/* Math */

.mathBlock {
    margin: 1em 0 0 2em;
    overflow-x: auto;
    white-space: nowrap;
}

/* Tables */

.overflowingTable {
    margin: 1em 0 0 2em;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
}

thead {
    border-bottom: 1px solid #aaa;
}

td, th {
    border-right: 1px solid #ccc;
    padding: 0 0.4em;
}

td:last-child, th:last-child {
    border-right: none;
}

/* Common */

.ucsIcon {
    vertical-align: middle;
    font-size: 1.6em;
}

.spoiler {
    color: #fff;
    outline: #bbb dotted thin;
}

.spoiler code {
    background: #fff;
}

.spoiler a {
    color: #fff;
}

.spoiler-box {
    outline: #bbb dotted thin;
    color: #fff;
}

.spoiler-box a {
    color: #fff;
}

.spoiler-box pre.sourceCode {
    background: #fff;
    border: none;
}

.spoiler-box:hover, .spoiler-box:hover a, .spoiler-visible {
    color: #333;
}

strong {
    font-weight: bold;
}

hr {
    border: none;
    border-top: #ddd solid 1px;
    height: 4px;
    border-bottom: #ddd solid 1px;
    width: 4em;
    margin: 1.8em auto;
}

.cut {
    text-decoration: line-through;
}

.person {
    font-weight: bold;
}

.person a {
    text-decoration: none;
}

.whisper {
    font-size: 0.8em;
}
