/*** V1 */

.postSummaryV1 {
    background: #fff;
    box-shadow: 0 0 4px #c8c8c8;
    padding: 1em 1em 1em 0;
    max-width: 32em;
    margin: 1rem auto 2rem auto;
}

.postSummaryV1 .postTitle {
    margin-left: 1em;
    min-height: 1.6em;
}

.postSummaryV1 .postTitle h2 {
    display: block;
    float: left;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 700;
}

.postSummaryV1 .postTitle time {
    display: block;
    float: right;
}

.postSummaryV1 .post h3 {
    font-size: 1.1em;
    margin: 1.2em 0 0 .6em;
}

.postSummaryV1 .post img {
    max-width: 90%;
}

.postSummaryV1 .post p {
    margin: 1em 0 0 1em;
    text-align: justify;
}

.postSummaryV1 .postTail {
    margin-top: .6em;
    text-align: right;
}

.postSummaryV1 .postTail a {
    color: #91911a;
    text-decoration: none;
}

/*** Old wordpress blog */

.postSummaryCP {
    background: url(/r/wp-content_bg.gif) repeat;
    box-shadow: 0 0 4px #c8c8c8;
    padding: 1em 1em 1em 0;
    width: 510px;
    margin: 1rem auto 2rem auto;
}

.postSummaryCP .postTitle {
    color: #676e04;
    margin-left: 1em;
    font-family: Georgia, Arial, Serif;
}

.postSummaryCP .postTitle a {
    text-decoration: none;
    font-size: 14px;
}

.postSummaryCP .postTitle h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
}

.postSummaryCP .postTitle time {
    background: #e7ebde;
    color: #bbc4a3;
    display: block;
    float: left;
    font-family: Georgia, 'Lucida sans ms', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    margin: 0 10px 0 0;
}

.postSummaryCP .post {
    clear: both;
    padding-top: 0.4em;
    font-family: Georgia, Verdana, Arial, Serif;
    font-size: 12px;
}

.postSummaryCP .post p {
    margin: 1em 0 0 1em;
    text-align: justify;
}

.postSummaryCP .postTail {
    margin-top: .6em;
    text-align: right;
}

.postSummaryCP .postTail a {
    color: #91911a;
    text-decoration: none;
}
