---
title = "All posts on scvalex.net"
description = "All posts on scvalex.net"
render_categories = "Posts tagged #CATEGORY on scvalex.net"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/base_head.liquid" %}
    {% include "components/standalone_head.liquid" image: "/r/avatar2.png" %}
    {% if main_index_page %}
    <link rel="stylesheet" href="/r/screen1.css" type="text/css" />
    {% endif %}
    <link rel="canonical" href="https://scvalex.net/posts/" />
    <meta name="robots" content="noindex">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML" async></script>
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    {% include "components/standalone_page_header.liquid" %}

    <ul class="mt-4 grid grid-cols-1 grid-rows-auto justify-content-center">
      {% for post in posts %}
      {% include "components/blog_post_preview.liquid" post: post %}
      {% endfor %}

      <!-- ^ New recompilable posts ^ -->
      <!-- v Old frozen posts v -->

      {% if main_index_page %}
      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/41/">41. pingcat</a></h2>
          <time datetime="2015-02-02">2015-02-02</time>
        </div>
        <div class="post">
          <p>Most data on the Internet is transferred over TCP or UDP. The former works best when the transport needs to be reliable, and the latter is for when lower latency is more important than data loss or packet reordering. However, for a laugh, you can also transfer it over ICMP, aka <code>ping</code>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/41/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/40/">40. Variable Length Arrays</a></h2>
          <time datetime="2015-01-18">2015-01-18</time>
        </div>
        <div class="post">
          <p>When I learned C back in high-school, I was taught that all arrays declared on the stack had to have their size statically known at compile time. If we wanted variable sized arrays, we had to allocate them on the heap. It turns out that, as of C99, that’s no longer true.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/40/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/39/">39. mkstemp</a></h2>
          <time datetime="2015-01-11">2015-01-11</time>
        </div>
        <div class="post">
          <p>Every time I’ve needed a temporary file, I’ve used <a href="http://linux.die.net/man/3/mkstemp"><code>mkstemp(3)</code></a> or some variant of it. However, it wasn’t until recently that I wondered how it works, and more importantly, under what conditions it fails.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/39/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/38/">38. Faster Fibonacci</a></h2>
          <time datetime="2015-01-07">2015-01-07</time>
        </div>
        <div class="post">
          <p>Most programmers are familiar with the naïve <span class="math">\(O(2^n)\)</span> and the memoized <span class="math">\(O(n)\)</span> algorithms for computing the n<sup>th</sup> <a href="http://en.wikipedia.org/wiki/Fibonacci_number">Fibonacci number</a>. However, with a bit of math, you can get the time down to <span class="math">\(O(\log_2n)\)</span>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/38/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/37/">37. An Optimisation Story</a></h2>
          <time datetime="2014-05-04">2014-05-04</time>
        </div>
        <div class="post">
          <p>Premature optimisation may be <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.103.6084">the root of all evil</a>, but it’s also dammed fun. I recently needed an OCaml library for <a href="https://en.wikipedia.org/wiki/Affine_transformation">affine transformations</a>: essentially, I needed to multiply <code>3x3</code> matrices together.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/37/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/36/">36. Empirical Pi</a></h2>
          <time datetime="2014-02-22">2014-02-22</time>
        </div>
        <div class="post">
          <p>You’ve finally snuck into the evil mastermind’s billiards room. You’re only one door away from his office and the Big Red Button that stops the moon laser from vaporizing the <a href="https://www.google.com/search?site=imghp&amp;tbm=isch&amp;q=great+barrier+reef">Great Barrier Reef</a>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/36/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/35/">35. OCaml's Compare</a></h2>
          <time datetime="2013-10-26">2013-10-26</time>
        </div>
        <div class="post">
          <p>Programming languages often have features which are not necessary but which are a boon to working with them. For example, Haskell compilers can automagically derive pretty-printers for user-defined datatypes which is a great help when debugging. Unfortunately, things don’t always go the way the language authors intended, and such features end up being more confusing than helpful. Take, for instance, the <a href="https://gist.github.com/scvalex/7081711">following implementation</a> of a <a href="https://en.wikipedia.org/wiki/Doubly_linked_list#Circular_doubly-linked_lists">doubly-linked list</a> in OCaml.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/35/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/34/">34. Amortized Analysis</a></h2>
          <time datetime="2013-10-12">2013-10-12</time>
        </div>
        <div class="post">
          <p>The asymptotic complexity of a loop which does at most <span class="math">\(N\)</span> constant-time operations is <span class="math">\(O(N)\)</span>. <span class="math">\(M\)</span> such loops will then have <span class="math">\(O(M * N)\)</span> time complexity. But not always. If you’re careful, you can sometimes do <span class="math">\(M\)</span> loops of <span class="math">\(O(N)\)</span> in only <span class="math">\(O(M)\)</span> time.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/34/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/33/">33. Cycling Arrays</a></h2>
          <time datetime="2013-10-05">2013-10-05</time>
        </div>
        <div class="post">
          <p>Here’s a challenge: cycle an array in-place. That is, given an array <span class="math">\([x_0, x_1, \dots, x_{n-1}]\)</span> and a number <span class="math">\(m\)</span>, you must make <span class="math">\([x_m, x_{m+1}, \dots, x_{n-1}, x_0, x_1, \dots, x_{m-1}]\)</span> using only a constant amount of additional memory.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/33/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/32/">32. Faking Exceptions in C</a></h2>
          <time datetime="2013-10-02">2013-10-02</time>
        </div>
        <div class="post">
          <p>I love the breaking the structure of structured programs. We have previously implemented <a href="/posts/2/">coroutines in C</a> using <a href="http://linux.die.net/man/3/setjmp"><code>setjmp(3)</code></a> and <a href="http://linux.die.net/man/3/longjmp"><code>longjmp(3)</code></a>. We are now going to fake exceptions in C using the same functions.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/32/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/31/">31. IsString Abuse</a></h2>
          <time datetime="2013-06-25">2013-06-25</time>
        </div>
        <div class="post">
          <p>The <code>IsString</code> type-class and the <a href="http://www.haskell.org/ghc/docs/7.0.1/html/users_guide/type-class-extensions.html#overloaded-strings"><code>OverloadedStrings</code></a> extension were meant to save Haskell programmers from having to type <code>{ByteString,Text}.pack</code> over and over again, but they can be used in more creative ways as well.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/31/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/30/">30. Fun with MI in C++</a></h2>
          <time datetime="2013-05-04">2013-05-04</time>
        </div>
        <div class="post">
          <p>The only features originally allowed into C++ were those which had efficient implementations. This sounds great, but the results were sometimes dubious. Consider the following <a href="https://gist.github.com/scvalex/5504130">program</a> which uses multiple inheritance.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/30/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/29/">29. Escape Analysis in Go</a></h2>
          <time datetime="2013-05-02">2013-05-02</time>
        </div>
        <div class="post">
          <p>Returning a pointer to a local variable is legal in Go. As a C programmer, the following looks like an error to me, but it’s perfectly alright in Go.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/29/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/28/">28. A Stopping Problem</a></h2>
          <time datetime="2013-04-26">2013-04-26</time>
        </div>
        <div class="post">
          <p>Let’s play the following game: you roll a <a href="https://en.wikipedia.org/wiki/Four-sided_die">four-sided die</a>; if 1 or 2 come up, you get 1$; if 3 comes up, you lose 1$; if 4 comes up, the game ends, and you lose all of your gains; finally, you can stop the game at any point and keep your gains. How do you play so that you maximize your gains?</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/28/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/27/">27. i^i is real</a></h2>
          <time datetime="2013-04-16">2013-04-16</time>
        </div>
        <div class="post">
          <p>A funny thing happens when you take the <a href="https://en.wikipedia.org/wiki/Imaginary_unit">imaginary unit</a> <span class="math">\(i\)</span>, and raise it to the power of <span class="math">\(i\)</span>; it becomes real. Again, <span class="math">\(i^i \in \mathbb{R}\)</span>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/27/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/26/">26. Quines</a></h2>
          <time datetime="2013-04-11">2013-04-11</time>
        </div>
        <div class="post">
          <p>A <a href="https://en.wikipedia.org/wiki/Quine_%28computing%29">quine</a> is something that, when evaluated, yields itself. More precisely, a quine is <code>x</code>, such that when we evaluate, interpret, or otherwise run <code>x</code>, we get <code>x</code> as the result. Quines are interesting because their existence in a language points to the language’s <a href="https://en.wikipedia.org/wiki/G%C3%B6del%27s_incompleteness_theorem">self-referentiality</a>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/26/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/25/">25. Where's my Pi?</a></h2>
          <time datetime="2013-04-09">2013-04-09</time>
        </div>
        <div class="post">
          <p>When I powered on my new Raspberry Pi the other day, I realized I had a problem: even though we were both connected to the same WiFi network, I had no idea what its address was.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/25/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/24/">24. Time Dilation</a></h2>
          <time datetime="2013-04-07">2013-04-07</time>
        </div>
        <div class="post">
          <p>A while ago, SMBC had a comic about <a href="http://www.smbc-comics.com/?id=2535">whether our reality is simulated</a>. They suggest that a way to tell would be to check if our reality were “optimised for computation”, such as if there were a minimum temperature, or a maximum speed. That got me thinking, are there other signs like that?</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/24/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/23/">23. Zingr</a></h2>
          <time datetime="2013-04-05">2013-04-05</time>
        </div>
        <div class="post">
          <p>Since Google has decided to <a href="http://googleblog.blogspot.co.uk/2013/03/a-second-spring-of-cleaning.html">shut down Google Reader</a>, we should do what any self-respecting software developer would do: complain about it on <a href="https://news.ycombinator.com/item?id=5371725">Hacker News</a>, and write a replacement that works for us. Today, we’ll be writing Zingr (“Zingr is not Google Reader”), a single-user web-based news aggregator in Python, SQLite3, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://mootools.net/">Mootools</a>, and <a href="http://knockoutjs.com/">Knockout</a>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/23/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/22/">22. Human Evolution</a></h2>
          <time datetime="2013-03-31">2013-03-31</time>
        </div>
        <div class="post">
          <p>Consider a colony of bacteria living in a fresh water lake. Suppose the lake becomes more and more salty; the salt is damaging and ultimately lethal to the bacteria. What can they do? Ignoring more esoteric adaptations like <a href="https://en.wikipedia.org/wiki/Bacterial_conjugation">bacterial conjugation</a>, individually, they cannot do anything. As a species though, through selection of the fittest (most salt resistant, in this case), the bacteria evolve and adapt.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/22/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/21/">21. Complexity Ordering</a></h2>
          <time datetime="2013-03-12">2013-03-12</time>
        </div>
        <div class="post">
          <p>We all know that <span class="math">\(O(N) &lt; O(N^2)\)</span>, but what’s the relation between <span class="math">\(O(\sqrt{N})\)</span> and <span class="math">\(O(\log_2(N))\)</span>? Let’s determine an ordering for some common <a href="https://en.wikipedia.org/wiki/Big_oh_notation">asymptotic complexities</a>, and find the points where the smaller ones meet the larger ones.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/21/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/20/">20. Fixed Frequency Loops</a></h2>
          <time datetime="2013-03-06">2013-03-06</time>
        </div>
        <div class="post">
          <p>Suppose we want to stress-test a server by hitting it with a fixed number of requests per second. Or maybe we want to write a game loop that runs at a fixed number of frames per second. In both cases, we want to run some code at a fixed frequency <span class="math">\(\nu\)</span>. More precisely, we want a loop that calls some function, sleeps for a bit, then restarts, and overall, the function is called <span class="math">\(\nu\)</span> times per second.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/20/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/19/">19. Bank Cards in the US</a></h2>
          <time datetime="2013-02-28">2013-02-28</time>
        </div>
        <div class="post">
          <p>As a European, I’ve had lots of problems using bank cards in the US. This wasn’t because of the bedlam that is the international banking system, but because of differences in user interfaces.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/19/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/18/">18. Sized QuickChecks</a></h2>
          <time datetime="2013-02-27">2013-02-27</time>
        </div>
        <div class="post">
          <p>I recently ran into an issue with <a href="http://hackage.haskell.org/package/QuickCheck">QuickCheck</a> where one of my tests seemed to hang. My mistake was that I was ignoring how QuickCheck generates <em>sized</em> arbitrary values, and ended up creating very large structures.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/18/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/17/">17. strace</a></h2>
          <time datetime="2012-12-25">2012-12-25</time>
        </div>
        <div class="post">
          <p>Although <a href="/posts/16">debugging with GDB</a> is useful, it has the big disadvantage of focusing on the program’s internal state at a single moment in time. Often, we instead need to see how a program is interacting with its environment. In this post, we look at <a href="http://linux.die.net/man/1/strace"><code>strace</code></a>, a utility which traces system calls.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/17/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/16/">16. Debugging Field Guide</a></h2>
          <time datetime="2012-12-20">2012-12-20</time>
        </div>
        <div class="post">
          <p>I’ve been programming for over a decade now, and, although I don’t usually use debugging tools, there are a few instances where I’ve found them to be indispensable. In this post, we go over a few debugging scenarios where print statements just don’t cut it.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/16/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/15/">15. Phantom Types</a></h2>
          <time datetime="2012-12-17">2012-12-17</time>
        </div>
        <div class="post">
          <p>There are two ways of looking at the type-system of a language: as a set of rules which must be followed for the program to compile, and as a tool to make code more expressive. In this post, we talk about phantoms types, which is one way of doing the latter.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/15/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/14/">14. Looper</a></h2>
          <time datetime="2012-12-12">2012-12-12</time>
        </div>
        <div class="post">
          <p>“A <a href="https://en.wikipedia.org/wiki/Fixed_point_%28mathematics%29">fixed point</a> of a function is a point that is mapped to itself by the function”. In other words, it is <span class="math">\(x\)</span>, such that <span class="math">\(f(x) = x\)</span>. Fixed points are everywhere; in particular, the movie <a href="http://www.imdb.com/title/tt1276104/">Looper</a> is all about finding them.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/14/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/13/">13. Solving Crises</a></h2>
          <time datetime="2012-11-29">2012-11-29</time>
        </div>
        <div class="post">
          <p><a href="/posts/12">Last week</a>, we saw how a financial crisis unfolds. In this post, we see what can be done to bring things back to normal again.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/13/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/12/">12. Crises Stories</a></h2>
          <time datetime="2012-11-22">2012-11-22</time>
        </div>
        <div class="post">
          <p>Let’s talk about <a href="https://en.wikipedia.org/wiki/Financial_crisis">financial crises</a>, what causes them, how they happen, and how to stop them. In this post, I tell a few made-up stories to illustrate how a crisis unfolds, and how it’s stopped; these stories are mostly modeled after the <a href="https://en.wikipedia.org/wiki/Panic_of_1907#Panic">Panic of 1907</a>; these stories are a gross simplification of what really happens and are only meant to give an intuition.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/12/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/11/">11. On Small Samples</a></h2>
          <time datetime="2012-11-20">2012-11-20</time>
        </div>
        <div class="post">
          <p><a href="https://en.wikipedia.org/wiki/Law_of_large_numbers">The Law of Large Numbers</a> says that “the average of the results of a large number of trials should be close to the expected value”. This is common knowledge, but most people are not familiar with the corollary that “the average of the results of a <strong>small</strong> number of trials may be quite far from the expected value”.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/11/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/10/">10. Permissions Puzzle</a></h2>
          <time datetime="2012-11-14">2012-11-14</time>
        </div>
        <div class="post">
          <p>Here’s a Linux permissions puzzle for you: assume you have a file, on which the owner has no permissions, the group has read/write permissions, and everybody else has no permissions; you are the owner of the file, and a member of the file’s group; do you have permission to read or write to the file?</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/10/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/9/">9. On Transfer Speeds</a></h2>
          <time datetime="2012-11-12">2012-11-12</time>
        </div>
        <div class="post">
          <p>Let’s say we’re trying to copy a <span class="math">\(1\)</span> GiB file from one machine to another over a gigabit ethernet LAN. How long will it take? (Spoiler: it’s quite a bit more than the simple calculation says.)</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/9/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/8/">8. Math Jokes</a></h2>
          <time datetime="2012-11-07">2012-11-07</time>
        </div>
        <div class="post">
          <p>I present here the longest and shortest math jokes I know. Furthermore, I will render the long one unfunny by explaining it.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/8/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/7/">7. Java Variance Pitfalls</a></h2>
          <time datetime="2012-11-05">2012-11-05</time>
        </div>
        <div class="post">
          <p>Last week, I found out about a non-obvious pitfall of the Java language caused by the interaction of sub-classing and arrays. In short, Java arrays are <a href="http://www.pmg.csail.mit.edu/papers/popl97/node19.html.">covariant</a>, so what I thought was illegal code compiles, and causes an exception at runtime. In this post, I give a quick intro to type variance, and describe the particular issue I encountered recently.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/7/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/6/">6. Malloc Never Fails</a></h2>
          <time datetime="2012-11-02">2012-11-02</time>
        </div>
        <div class="post">
          <p>Here’s a fun bit of trivia: <code>malloc</code> on Linux never fails [due to the obvious cause]. In this post, we’ll show that this indeed is the case, and explore why this happens.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/6/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/4/">4. permamake.sh</a></h2>
          <time datetime="2012-10-29">2012-10-29</time>
        </div>
        <div class="post">
          <p>I tend to build very often when working; in this post, I describe how I went from a build every few minutes to <em>automatic</em> builds on every file change.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/4/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/3/">3. Loop Unrolling in sh</a></h2>
          <time datetime="2012-10-26">2012-10-26</time>
        </div>
        <div class="post">
          <p>Here’s a puzzle for you: what does the following shell script do? (works in <code>zsh</code>, <code>bash</code>, <code>dash</code>, BusyBox’s <code>sh</code>, but not <code>tcsh</code>; the script <em>must have a trailing newline</em>)</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/3/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/2/">2. Coroutines in C</a></h2>
          <time datetime="2012-10-24">2012-10-24</time>
        </div>
        <div class="post">
          <p>There’s a pair of C functions that I feel are underused, namely <a href="http://linux.die.net/man/3/setjmp"><code>setjmp(3)</code></a>, and <a href="http://linux.die.net/man/3/longjmp"><code>longjmp(3)</code></a>. With them, you can <a href="/posts/32/">fake exceptions in C</a>, implement coroutines, and much more.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/2/">Read More</a>
        </div>
      </li>

      <li class="postSummaryV1">
        <div class="postTitle">
          <h2><a href="/posts/1/">1. Random Integers</a></h2>
          <time datetime="2012-10-22">2012-10-22</time>
        </div>
        <div class="post">
          <p>Suppose you have a fair coin, that, when thrown, lands heads half the time and tails the other half. Design a procedure that makes a uniformly distributed random integer in the inclusive range <code>[1, n]</code>.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/1/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2008-02-15">2008-02-15</time>
          <h2><a href="/posts/cp19/">Langton's Ant</a></h2>
        </div>
        <div class="post">
          <p>Langton’s Ant is a turmite governed by simple rules whose outcome is both unpredictable and intresting. The path taken by the ant generates some surprising shapes, never appearing when you would expect them to, but a seemingly random moments. This article describes the rules behind Langton’s Ant, shows some of the images formed and provides a Python programme to simulate the ant.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp19/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2008-01-17">2008-01-17</time>
          <h2><a href="/posts/cp18/">Finding All Paths of Minimum Length to a Node Using Dijkstra's Algorithm</a></h2>
        </div>
        <div class="post">
          <p>In this article I describe a way of modifying Dijkstra’s Alogrithm in order to find all the shortest path from a source to a node.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp18/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2008-01-17">2008-01-17</time>
          <h2><a href="/posts/cp17/">Speeding Up Dijkstra's Algorithm 1</a></h2>
        </div>
        <div class="post">
          <p>In this article, I describe a simple (adds less than 1min of work) way to speed up Dijkstra’s Algorithm for finding the single source shortest path to every node in a graph.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp17/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-12-11">2007-12-11</time>
          <h2><a href="/posts/cp16/">Gaussian Elimination</a></h2>
        </div>
        <div class="post">
          <p>In this article, I describe Gauss’ algorithm for solving n linear equations with n unknowns. I also give a sample implementation in C.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp16/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-12-01">2007-12-01</time>
          <h2><a href="/posts/cp15/">One Source Shortest Path: Dijkstra's Algorithm</a></h2>
        </div>
        <div class="post">
          <p>In this article I describe Dijkstra’s algorithm for finding the shortest path from one source to all the other vertexes in a graph. Afterwards, I provide the source code in C of a simple implementation.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp15/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-29">2007-11-29</time>
          <h2><a href="/posts/cp14/">One Source Shortest Path: The Bellman-Ford Algorithm</a></h2>
        </div>
        <div class="post">
          <p>In this article, I describe the Bellman-Ford algorithm for finding the one-source shortest paths in a graph, give an informal proof and provide the source code in C for a simple implementation.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp14/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-20">2007-11-20</time>
          <h2><a href="/posts/cp13/">The 0-1 Knapsack Problem</a></h2>
        </div>
        <div class="post">
          <p>The 0-1 Knapsack Problem (AKA The Discrete Knapsack Problem) is a famous problem solvable by dynamic-programming. In this article, I describe the problem, the most common algorithm used to solve it and then provide a sample implementation in C.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp13/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-20">2007-11-20</time>
          <h2><a href="/posts/cp12/">The Fractional Knapsack Problem</a></h2>
        </div>
        <div class="post">
          <p>In this article, I describe the greedy algorithm for solving the Fractional Knapsack Problem and give an implementation in C.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp12/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-15">2007-11-15</time>
          <h2><a href="/posts/cp11/">All Sources Shortest Path: The Floyd-Warshall Algorithm</a></h2>
        </div>
        <div class="post">
          <p>In this article I describe the Floyd-Warshall algorithm for finding the shortest path between all nodes in a graph. I give an informal proof and provide an implementation in C.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp11/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-09">2007-11-09</time>
          <h2><a href="/posts/cp10/">Minimal Spanning Trees: Prim's Algorithm</a></h2>
        </div>
        <div class="post">
          <p>In this article I give an informal definition of a graph and of the minimum spanning tree. Afterwards I describe Prim’s algorithm and then follow its execution on an example. Finally, the code in C is provided.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp10/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-11-06">2007-11-06</time>
          <h2><a href="/posts/cp9/">Binary Numbers: Counting Bits</a></h2>
        </div>
        <div class="post">
          <p>In a previous article, I described the basics of binary arithmetic and gave a function to display the binary representation of a number. Here, we’ll look at several ways to count the set (1) bits in a number.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp9/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-31">2007-10-31</time>
          <h2><a href="/posts/cp8/">Sudoku Solver</a></h2>
        </div>
        <div class="post">
          <p>Sudoku is that Japanese puzzle that requires you to fill in a grid of numbers. Here, I describe a general algorithm to solve these puzzles. Also provided is the source code in C++.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp8/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-29">2007-10-29</time>
          <h2><a href="/posts/cp7/">Bit Operations</a></h2>
        </div>
        <div class="post">
          <p>In this article I’ll begin by defining binary numbers and describe the basic operations. Afterwords, I’ll show you several of the most common uses of binary numbers.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp7/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-24">2007-10-24</time>
          <h2><a href="/posts/cp6/">Checker Challenge</a></h2>
        </div>
        <div class="post">
          <p>Checker Challenge is a very famous programming problem. It’s one of the first examples of backtracking anyone learns and variations of it frequently appare in contests.</p>

          <p>In this article, I’ll present the classic algorithm for solving it and then a few optimisations to make it run less like a geriatric turtle.</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp6/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-17">2007-10-17</time>
          <h2><a href="/posts/cp5/">Generating Combinations 1</a></h2>
        </div>
        <div class="post">
          <p>The combinations of n elements chosen as k is the number
          of unique ways of selecting k elements from a set of n.</p>

          <p>So, what are the ways of choosing 2 elements from a set of 4, {1, 2, 3, 4}?</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp5/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-15">2007-10-15</time>
          <h2><a href="/posts/cp4/">Generating the Partitions of a Set</a></h2>
        </div>
        <div class="post">
          <p>The partitions of a set S are all the ways in which you
          can choose disjoint, non-empty subsets of S that unioned result in S.</p>

          <p>So, what are the subsets of {1, 2, 3}?
          </p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp4/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-10">2007-10-10</time>
          <h2><a href="/posts/cp3/">Generating Subsets</a></h2>
        </div>
        <div class="post">
          <p>There quite a few definitions of what a set is, but it all boils down to this…</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp3/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-08">2007-10-08</time>
          <h2><a href="/posts/cp2/">Generating Permutations 2</a></h2>
        </div>
        <div class="post">
          <p>Last time, we defined what permutation is and gave a few basic properties.</p>

          <p>In a few minutes we’ll see another algorithm for generating them, but first a little theory…</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp2/">Read More</a>
        </div>
      </li>

      <li class="postSummaryCP">
        <div class="postTitle">
          <time datetime="2007-10-05">2007-10-05</time>
          <h2><a href="/posts/cp1/">Generating Permutations 1</a></h2>
        </div>
        <div class="post">
          <p>A permutation of n objects is an arrangement of n distinct objects…</p>
        </div>
        <div class="postTail">
          ⤷ <a href="/posts/cp1/">Read More</a>
        </div>
      </li>
      {% endif %}
    </ul>

    {% include "components/scroll_to_top.liquid" %}

    {% include "components/blog_post_footer.liquid" most_recent_change: posts.first.date, rss_url: "/atom.xml" %}
  </body>
</html>
