<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign title = "Not Found" %}
    {% include "components/base_head.liquid" title: title, description: "Not Found" %}
    {% include "components/standalone_head.liquid" title: title %}
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    <main class="w-screen grid grid-cols-1 grid-rows-3 justify-content-center text-xl">
      {% include "components/standalone_page_header.liquid" %}
      <div class="mx-auto mt-4">
        <h3 class="title-text">Page Not Found</h3>
      </div>
    </main>
  </body>
</html>
