<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign title = "Contact scvalex" %}
    {% include "components/base_head.liquid"
    description: "How to contact me"
    %}
    {% include "components/standalone_head.liquid" image: "/r/avatar2.png" %}
    <link rel="canonical" href="https://scvalex.net/contact/" />
    <script defer src="/r/feedback.js"></script>
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    <main class="lg:w-article lg:m-auto my-8 lg:mt-20 gap-y-8 lg:gap-y-20 grid grid-cols-1 grid-rows-auto place-items-center content-text">
      <ul class="m-auto w-min sm:w-auto p-4 bg-white text-center shadow-md lg:col-span-2 h-card">
        <li>
          <a href="/" class="u-url hover:text-inherit">
            {% include "components/avatar.liquid" class: "inline u-logo", width: 70, height: 70 %}
          </a>
        </li>
        <li class="leading-9 p-name">Alexandru Scvorțov</li>
        <li class="text-lg lg:text-3xl leading-10"><code class="font-mono">(λyz.mailyscvalexznet)@.</code></li>
        <li class="leading-9">
          <ul class="grid grid-cols-1 lg:flex lg:justify-center lg:space-x-4">
            <li class="inline px-1"><a href="/scvalex.asc" class="underline decoration-1 decoration-gray-300 u-key">gpg</a></li>
            <li class="inline px-1">
              <a href="https://gitlab.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">gitlab</a><a href="https://gitlab.com/abstract-binary" class="no-underline text-sm">(alt)</a>
            </li>
            <li class="inline px-1"><a href="https://www.goodreads.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">goodreads</a></li>
            <li class="inline px-1"><a href="https://mas.to/@scvalex" class="underline decoration-1 decoration-gray-300" rel="me">mastodon</a></li>
          </ul>
        </li>
        <li class="leading-9">
          <a href="https://en.wikipedia.org/wiki/Glider_%28Conway%27s_Life%29">
            {% include "components/glider.liquid" class: "inline", width: 32, height: 32 %}
          </a>
        </li>
      </ul>

      <div class="bg-white shadow-md px-4 py-4 mx-4 sm:w-[30rem]">
        <h3 class="title-text font-normal">Message</h3>
        <form id="feedbackForm">
          <div class="mt-4">
            <textarea name="comment" placeholder="Message" rows="4"
              class="px-2 pt-1 text-lg border-2 border-gray-100 w-full">
            </textarea>
            <div class="relative h-10">
              <input type="submit" value="Send"
                class="cursor-pointer absolute text-lg left-0 top-0 rounded py-1 px-2 drop-shadow bg-gray-300
                active:drop-shadow-none active:top-1 active:bg-gray-200
                disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed">
            </div>
            <div>
              <span id="sentTimestampLabel" class="text-gray-500 text-sm"></span>
            </div>
          </div>
        </form>
        <p class="text-gray-500 text-sm mt-2 pr-4 text-justify">
          {% include "components/circle_info.liquid" width: 16, height: 16, class: "inline text-gray-600 mb-1 mr-1" %}
          This form sends me a message.  It does not collect any personal information.
          If you want a reply, make sure to include some contact details in the message.
        </p>
      </div>
    </main>
    <section class="mt-40">
      {% include "components/blog_post_footer.liquid" most_recent_change: posts.first.date, rss_url: "/books.xml" %}
    </section>
  </body>
</html>
