<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign title = "CV" %}
    {% include "components/base_head.liquid"
    description: "My CV"
    %}
    {% include "components/standalone_head.liquid" image: "/r/avatar2.png" %}
    <link rel="canonical" href="https://scvalex.net/cv/" />
    <meta name="robots" content="noindex">
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    <main class="lg:w-cv-full lg:m-auto pb-40 my-8 lg:mt-20 gap-y-4 lg:gap-y-8 grid grid-cols-1 place-items-center content-text">
      <section class="m-auto lg:w-article sm:w-auto bg-white pb-12 shadow-md post-content">
        <h3>
          Hi, I'm Alex and I build systems to solve problems.
        </h3>
        <p>
          I've been programming for over two decades, I've worked professionally in the
          field for ten years, and I have a master's degree in Software Engineering
          from Imperial College London.
        </p>
        <p>
          My expertise is in writing high-performance messaging systems, in cobbling
          together heterogeneous distributed systems, and in monitoring and
          operationalizing the same.  I've been an individual contributor and I've managed
          teams of up to 10 people.
        </p>
      </section>

      <ul class="m-auto w-min sm:w-auto mt-10 p-4 bg-white text-center shadow-md h-card">
        <li>
          <a href="/" class="u-url hover:text-inherit">
            {% include "components/avatar.liquid" class: "inline u-logo", width: 70, height: 70 %}
          </a>
        </li>
        <li class="leading-9 p-name">Alexandru Scvorțov</li>
        <li class="text-lg lg:text-3xl leading-10"><code class="font-mono">(λyz.mailyscvalexznet)@.</code></li>
        <li class="leading-9">
          <ul class="grid grid-cols-1 lg:flex lg:justify-center lg:space-x-4">
            <li class="inline px-1"><a href="/scvalex.asc" class="underline decoration-1 decoration-gray-300 u-key">gpg</a></li>
            <li class="inline px-1">
              <a href="https://gitlab.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">gitlab</a><a href="https://gitlab.com/abstract-binary" class="no-underline text-sm">(alt)</a>
            </li>
            <li class="inline px-1"><a href="https://www.goodreads.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">goodreads</a></li>
            <li class="inline px-1"><a href="https://mas.to/@scvalex" class="underline decoration-1 decoration-gray-300" rel="me">mastodon</a></li>
          </ul>
        </li>
        <li class="leading-9">
          <a href="https://en.wikipedia.org/wiki/Glider_%28Conway%27s_Life%29">
            {% include "components/glider.liquid" class: "inline", width: 32, height: 32 %}
          </a>
        </li>
      </ul>

      <h3 class="text-2xl lg:text-[3rem] text-gray-800 mt-10">
        Projects
      </h3>

      <section class="grid grid-cols-2 gap-y-12 gap-x-8 w-full">
        <h4 class="col-span-2 text-xl lg:text-4xl text-gray-800 text-center">
          <em>now</em>
        </h4>

        <div class="col-span-2 grid grid-cols-1 grid-rows-1 place-items-center">
          <div class="inline-block w-fit-content bg-white shadow-md p-4 post-content">
            <div>
              Check out my <a href="/posts/">blog</a> and
              <a href="https://mas.to/@scvalex">mastodon</a> feed to see what I'm currently working
              on.
            </div>
          </div>
        </div>

        <h4 class="col-span-2 text-xl lg:text-4xl text-gray-800 text-center mt-6">
          2023
        </h4>

        <div class="grid grid-cols-1 grid-rows-1 justify-items-end items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl"><code>env-sensor</code></h5>
            <div class="my-4">
              After a winter in Scotland, I started suspecting that my flat's thermostat
              doesn't quite work.  I could manually check the temperature in rooms, but
              that wasn't enough to draw any conclusions, so I started <code>env-sensor</code>
              as a foray into home automation.
            </div>
            <div class="my-4">
              I setup a few RPi Pico W micro-controllers around my flat, each connected to
              one or more sensors.  These send measurements over WiFi to a server running
              on a RPi 4.  The server saves the data to a Postgres database and Grafana
              displays it as nice graphs.  The picos and the server are all programmed in
              modern async Rust.
            </div>
            <div class="my-4">
              I'm particularly proud of the price of this setup: each pico and sensor
              bundle costs around 10£.  For comparison, the setup described in this
              <a href="https://pragprog.com/titles/passweather/build-a-weather-station-with-elixir-and-nerves/">book</a>
              costs around 150£ per sensor.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd><ul><li>Embedded</li><li>Rust</li><li>Monitoring</li></ul></dd>
              <dt>Code</dt>
              <dd>
                <a href="https://codeberg.org/scvalex/env-sensor">
                  <code>codeberg:scvalex/env-sensor</code>
                </a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="h-min-cv-half-card w-min-cv-half-big grid grid-cols-1 grid-rows-1 items-center">
          <img
            src="/r/env-sensor-graph-screenshot.png"
            alt="Screenshot of env-sensor's Graphana dashboard showing the large fluctuations in temperature and relative humidity of two connected rooms"
            width="610"
            height="487"
            class="shadow-md"
          >
        </div>

        <h4 class="col-span-2 text-xl lg:text-4xl text-gray-800 text-center mt-6">
          2022
        </h4>

        <div class="h-min-cv-half-card w-min-cv-half-big grid grid-cols-1 grid-rows-1 items-center justify-items-end">
          <div class="inline-block shadow-md">
            <img
              src="/r/ldgr-fx-screenshot_small.png"
              alt="Screenshot of ldgr's FX view showing some recent exchange rates"
              width="600"
              height="623"
            >
          </div>
        </div>
        <div class="grid grid-cols-1 grid-rows-1 justify-items-start items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl"><code>ldgr</code></h5>
            <div class="my-4">
              This is the program I use to stay in-control of my finances.  I started
              working on it in 2016 and have been extending and occasionally rewriting it
              ever since.
            </div>
            <div class="my-4">
              It consumes statements from 6 banks and brokers, pulls in additional data
              from a few online sources, normalizes it all, stores it into a Postgres
              database, and runs some reports I find useful.  In 2022, I added the
              ability to produce Capital Gains Tax reports for HMRC using the same
              <a href="/posts/66/">generator pattern</a> as this website.
            </div>
            <div class="my-4">
              Another recent addition is the UI pictured left.  This is simultaneously
              the ugliest UI I have ever built, but also the easiest to
              <a href="https://gitlab.com/scvalex/ldgr/-/blob/master/commander/src/ui.rs#L462">write and change</a>.
              It uses the fantastic <a href="https://www.egui.rs/"><code>egui</code></a>
              framework.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd>
                <ul>
                  <li>Rust</li>
                  <li>Accounting</li>
                  <li>UI</li>
                  <li>Report Generator</li>
                  <li>Data Wrangling</li>
                </ul>
              </dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/scvalex/ldgr">
                  <code>gitlab:scvalex/ldgr</code>
                </a>
              </dd>
            </dl>
          </div>
        </div>

        <div  class="grid grid-cols-1 grid-rows-1 justify-items-end items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl"><a href="/">scvalex.net</a></h5>
            <div class="my-4">
              This website has a been an ongoing project for me since 2009.  It was
              originally a Wordpress site, then it was generated by Jekyll, then Hakyll,
              then Jenga, then an abomination of Makefiles and <code>m4</code>, then Zola,
              then Astro/React, before reaching its current form of
              <a href="/posts/66/">a custom Rust program</a>.
            </div>
            <div class="my-4">
              I am including this here as a showcase of my writing.  In my two decades
              of programming, I have found that the ability and willingness to write
              documentation is very rare, and this is something I rather enjoy doing.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd>
                <ul>
                  <li>Rust</li>
                  <li>Website Generator</li>
                  <li>Server</li>
                  <li>Documentation</li>
                </ul>
              </dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/abstract-binary/scvalex.net">
                  <code>gitlab:abstract-binary/scvalex.net</code>
                </a>
              </dd>
              <dt>Blog Posts</dt>
              <dd>
                <a href="/posts/webtech/" class="text-gray-500">#webtech</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="h-cv-half-card w-cv-half-big grid grid-cols-1 grid-rows-1 items-center">
          <div class="inline-block shadow-md w-[600px]">
            <h5 class="bg-white text-lg lg:text-2xl font-bold text-center">scvalex.net page dep graph</h5>
            <img
              src="/r/scvalex-net-deps-graph.png"
              alt="The dependency graph for the generation of this website"
              width="600"
              height="424"
            >
          </div>
        </div>

        <div class="h-min-cv-half-card w-min-cv-half-big grid grid-cols-1 grid-rows-1 justify-items-end">
          <div class="inline-block shadow-md">
            <img
              src="/r/dosare-architecture.png"
              alt="Diagram of Dosare's architecture, highlighting data ingestion from the Romanian Ministry of Justrice"
              width="601"
              height="602"
            >
          </div>
        </div>
        <div class="grid grid-cols-1 grid-rows-1 justify-items-start items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl">Dosare</h5>
            <div class="my-4">
              This site provided a simple search interface over the Romanian Ministry of
              Justice's database of ongoing trials.  As an example, this is useful if
              you're a bank and are trying to ensure that the company you're lending money
              to isn't currently in bankruptcy court.  Ultimately, the site did not gain
              any traction.
            </div>
            <div class="my-4">
              The website itself is an <a href="https://elixir-lang.org/">Elixir</a>
              <a href="https://www.phoenixframework.org/">Phoenix</a> LiveView app running
              on two pods in my Kubernetes cluster.  A periodic job downloads changes to
              the Ministry's database and inserts them into a Postgres database which
              has full text search enabled.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd><ul><li>Elixir</li><li>Full Text Search</li><li>Website</li><li>Postgres</li></ul></dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/abstract-binary/dosare">
                  <code>gitlab:abstract-binary/dosare</code>
                </a>
              </dd>
            </dl>
          </div>
        </div>

        <h4 class="col-span-2 text-xl lg:text-4xl text-gray-800 text-center mt-6">
          2021
        </h4>

        <div class="grid grid-cols-1 grid-rows-1 justify-items-end items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl">Lèche-vitrine</h5>
            <div class="my-4">
              This was a group-buying website intended as a competitor to something
              like Ocado.  The idea is that wholesale prices are about half those of
              retail prices, but wholesalers don't accept orders below 500£.  So, a group
              of neighbours could place an order together, have everything delivered to
              one of them, then sort out distribution themselves.  This didn't work
              because of the extra inconvenience of ordering and distribution.
            </div>
            <div class="my-4">
              The website itself is an <a href="https://elixir-lang.org/">Elixir</a>
              <a href="https://www.phoenixframework.org/">Phoenix</a> LiveView app running
              on two pods in my Kubernetes cluster.  The database and object store are
              the Google Cloud offerings.  Periodic jobs would download wholesalers'
              catalog and additional metadata from
              <a href="https://world.openfoodfacts.org/">OpenFoodFacts</a>.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd><ul><li>Elixir</li><li>Website</li><li>Google Cloud</li></ul></dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/abstract-binary/leche-vitrine">
                  <code>gitlab:abstract-binary/leche-vitrine</code>
                </a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="h-min-cv-half-card w-min-cv-half-big">
          <div class="inline-block shadow-md">
            <img
              src="/r/leche-vitrine-architecture.png"
              alt="Diagram of the architecture behind the Lèche-vitrine website showing three ingress pods, two application pods, and links to database and object storage in GCE"
              width="621"
              height="771"
            >
          </div>
        </div>

        <div class="h-min-cv-half-card w-min-cv-half-big">
          <div class="inline-block shadow-md">
            <img
              src="/r/ab-infra-diagram.png"
              alt="Diagram showing the abstract-binary infrastructure: three servers running a Kubernetes cluster, one VPN server, all connected in a Wireguard mesh"
              width="846"
              height="902"
            >
          </div>
        </div>
        <div class="grid grid-cols-1 grid-rows-1 justify-items-start items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl">Infra</h5>
            <div class="my-4">
              I wanted to have a stable infrastructure to try build upon, but I found that
              the various cloud offerings were too expensive for my tastes and that their
              behaviour was frequently poorly specified around failures.
            </div>
            <div class="my-4">
              The setup I built is three large-ish physical servers in a Hetzner datacenter
              in Germany, all running <a href="https://nixos.org/">NixOS</a> as the system
              layer and <a href="https://kubernetes.io/">Kubernetes</a> as the application
              layer.  The servers have fully-encrypted ZFS disks and are connected in a
              fully-connected <a href="https://www.wireguard.com/">Wireguard</a> mesh.
            </div>
            <div class="my-4">
              The main advantage of using NixOS and Kubernetes is the fully declarative
              configuration of the servers which makes it very easy to try out changes and
              rollback if things don't work out.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd><ul><li>Kubernetes</li><li>NixOS</li><li>Etcd</li><li>ZFS</li><li>Wireguard</li></ul></dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/scvalex/infra">
                  <code>gitlab:scvalex/infra</code>
                </a>
              </dd>
              <dt>Blog Posts</dt>
              <dd>
                <a href="/posts/infra/" class="text-gray-500">#infra</a>
                <a href="/posts/kubernetes/" class="text-gray-500">#kubernetes</a>
                <a href="/posts/nixos/" class="text-gray-500">#nixos</a>
              </dd>
            </dl>
          </div>
        </div>

        <div class="grid grid-cols-1 grid-rows-1 justify-items-end items-center">
          <div class="w-cv-half-small bg-white shadow-md pt-4 pl-4 pr-4 pb-8 post-content">
            <h5 class="text-lg lg:text-2xl">Kubebro</h5>
            <div class="my-4">
              As part of building out a Kubernetes-based infrastructure, I needed a way to
              quicky inspect the state of a cluster.  I also wanted an excuse to dive into
              the nitty-gritty details of the
              <a href="https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.27/">Kubernetes API</a>.
            </div>
            <div class="my-4">
              Out of these desires, Kubebro was born: it's a command line UI that connects
              to a cluster over HTTPS, lets the user explore the resources defined within,
              and perform common actions like restarting deployments or deleting pods.
            </div>
            <dl>
              <dt>Keywords</dt>
              <dd><ul><li>Kubernetes</li><li>Rust</li><li>CLI</li></ul></dd>
              <dt>Code</dt>
              <dd>
                <a href="https://gitlab.com/abstract-binary/kubebro">
                  <code>gitlab:abstract-binary/kubebro</code>
                </a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="h-min-cv-half-card w-min-cv-half-big">
          <div class="inline-block shadow-md">
            <a href="https://scvalex-dump.s3.eu-central-1.amazonaws.com/recording.webm">
              <img
                src="/r/kubebro-screenshot.png"
                alt="Screenshot of kubebro showing the cluser overview screen"
                width="730"
                height="580"
              >
            </a>
          </div>
        </div>
      </section>

      <h3 class="text-2xl lg:text-[3rem] text-gray-800 mt-10">
        Work
      </h3>

      <section class="m-auto lg:w-article sm:w-auto">
        <h4 class="text-xl lg:text-4xl text-gray-800 text-center">
          2013—2020
        </h4>
        <div class="bg-white mt-2 pt-4 pl-4 pr-4 pb-8 shadow-md post-content">
          <h5 class="text-lg lg:text-2xl">
            Prop-trading firm in London
          </h5>
          <div class="my-4">
            I worked for 7 years for a proprietary trading firm in London.  To list some
            of the things I did there:
            <ul>
              <li><p>I worked on and eventually led the team responsible for the post-trade
                messaging system.  During my tenure, said system grew from a steady state
                of 10,000 msgs/s and peaks of 50,000 msgs/s to a steady state of 50,000
                msgs/s and peaks of 500,000 msgs/s.  We also decreased peak latencies
                from multiple seconds to low hundreds of milliseconds. We had
                around 99.95% uptime, and the complexity of the work done by the system
                also increased during this time.</p></li>
              <li><p>I maintained and wrote several compliance tools used to send reports
                to regulatory bodies.  These tools were notable in that they had to apply
                fairly complicated business logic in order to prepare the reports, and
                they could never be down for more than low minutes due to regulatory
                requirements.</p></li>
              <li><p>I took part in and eventually organised the process of adding new
                business logic to post-trade systems.  This involved determining intent
                from stakeholders, gathering restrictions from various post-trade teams,
                and finding ways to get everything squared off.</p></li>
            </ul>

          </div>
          <div class="my-4 pt-2 pb-4 px-2 bg-sky-100 border-sky-200 border-2">
            Per the firm's IP policy, I won't mention them by name.  I'll just say it's
            the one trading firm that uses OCaml and let the reader do a simple web
            search.
          </div>
          <dl>
            <dt>Keywords</dt>
            <dd>
              <ul>
                <li>Ocaml</li>
                <li>High Performance Messaging</li>
                <li>Compliance</li>
                <li>Post-Trade</li>
                <li>Management</li>
              </ul>
            </dd>
          </dl>
        </div>

        <h4 class="text-xl lg:text-4xl text-gray-800 text-center mt-6">
          2010—2012
        </h4>
        <div class="bg-white mt-2 pt-4 pl-4 pr-4 pb-8 shadow-md post-content">
          <h5 class="text-lg lg:text-2xl">
            VMware
          </h5>
          <div class="my-4">
            During my university years, I worked part-time on
            <a href="https://www.rabbitmq.com/">RabbitMQ</a> for VMware.  I added several
            large features, fixed bugs, and handled support requests on the public mailing
            list.
          </div>
          <dl>
            <dt>Keywords</dt>
            <dd>
              <ul>
                <li>Erlang</li>
                <li>RabbitMQ</li>
                <li>Messaging</li>
              </ul>
            </dd>
          </dl>
        </div>
      </section>

      <h3 class="text-2xl lg:text-[3rem] text-gray-800 mt-10">
        Education
      </h3>

      <section class="m-auto lg:w-article sm:w-auto">
        <h4 class="text-xl lg:text-4xl text-gray-800 text-center">
          2009—2013
        </h4>
        <div class="bg-white mt-2 pt-4 pl-4 pr-4 pb-8 shadow-md post-content">
          <h5 class="text-lg lg:text-2xl">
            MComp Software Engineering at Imperial College London
          </h5>
          <div class="my-4">
            I graduated with a Master of Engineering with First Class Honours in Computing
            (Software Engineering) from
            <a href="https://www.imperial.ac.uk/">Imperial College London</a>.
          </div>
          <div class="my-4">
            I took courses in: Hardware and Databases, Logic and Reasoning about Programs,
            Mathematical Methods and Discrete Mathematics, Computer Architecture,
            Operating Systems and Networks and Communications, Concurrency, Software
            Engineering, Introduction to Artificial Intelligence, Compilers and Models of
            Computation, Statistics, Management and business for Computing Engineers,
            Advanced Databases, Graphics, Distributed Systems, Ludic Computing, Machine
            Learning, Distributed Algorithms, Program Analysis, Advanced Issues in Object
            Oriented Programming, Software Engineering for Industry, Models of Concurrency
            Computation, Modal and Temporal Logic, Software Reliability, Finance and
            Financial Management.
          </div>
        </div>

        <h4 class="text-xl lg:text-4xl mt-10 text-gray-800 text-center">
          —2019
        </h4>
        <div class="bg-white mt-2 pt-4 pl-4 pr-4 pb-8 shadow-md post-content">
          <h5 class="text-lg lg:text-2xl">
            General education in Romania
          </h5>
          <div class="my-4">
            I went through the Romanian public education system and graduated high-school
            with a baccalaureate grade of 9.45.
          </div>
        </div>
      </section>
    </main>

    {% include "components/scroll_to_top.liquid" %}
  </body>
</html>
