<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign title = "scvalex.net" %}
    {% include "components/base_head.liquid"
    description: "My website, home to the blog that I update semi-regularly and also a few notes"
    %}
    {% include "components/standalone_head.liquid" image: "/r/avatar2.png" %}
    <link rel="canonical" href="https://scvalex.net" />
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    <main class="lg:w-article lg:m-auto my-8 lg:mt-20 gap-y-8 lg:gap-y-20 grid grid-cols-1 grid-rows-auto place-items-center content-text">
      <ul class="m-auto w-min sm:w-auto p-4 bg-white text-center shadow-md lg:col-span-2 h-card">
        <li>
          <a href="/" class="u-url hover:text-inherit">
            {% include "components/avatar.liquid" class: "inline u-logo", width: 70, height: 70 %}
          </a>
        </li>
        <li class="leading-9 p-name">Alexandru Scvorțov</li>
        <li class="text-lg lg:text-3xl leading-10"><code class="font-mono">(λyz.mailyscvalexznet)@.</code></li>
        <li class="leading-9">
          <ul class="grid grid-cols-1 lg:flex lg:justify-center lg:space-x-4">
            <li class="inline px-1"><a href="/scvalex.asc" class="underline decoration-1 decoration-gray-300 u-key">gpg</a></li>
            <li class="inline px-1">
              <a href="https://gitlab.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">gitlab</a><a href="https://gitlab.com/abstract-binary" class="no-underline text-sm">(alt)</a>
            </li>
            <li class="inline px-1"><a href="https://www.goodreads.com/scvalex" class="underline decoration-1 decoration-gray-300" rel="me">goodreads</a></li>
            <li class="inline px-1"><a href="https://mas.to/@scvalex" class="underline decoration-1 decoration-gray-300" rel="me">mastodon</a></li>
          </ul>
        </li>
        <li class="leading-9">
          <a href="https://en.wikipedia.org/wiki/Glider_%28Conway%27s_Life%29">
            {% include "components/glider.liquid" class: "inline", width: 32, height: 32 %}
          </a>
        </li>
      </ul>
      <div class="grid gap-x-20 gap-y-8 ml-4 lg:grid-cols-2">
        <div class="lg:pr-0 max-w-96 lg:max-w-none lg:w-full h-full">
          <div class="flex items-center">
            <h2 class="text-2xl lg:text-4xl inline mr-2 text-gray-800"><a href="/posts/" class="no-underline">Recent posts</a></h2>
            <a href="/atom.xml">{% include "components/rss.liquid" width: 18, height: 18, class: "inline ml-1 text-gray-600 hover:text-sky-800" %}</a>
          </div>
          {% assign recent_posts = posts | slice: 0, 5 %}
          {% for post in recent_posts %}
          {% include "components/blog_post_one_line.liquid" post: post %}
          {% endfor %}
          <div class="text-gray-500 text-right mt-2">
            ⤷
            <a href="/posts/" class="underline decoration-1 decoration-gray-300 pr-4 lg:pr-0">All Posts</a>
          </div>
        </div>
        <div class="lg:pr-0 max-w-96 lg:max-w-none lg:w-full h-full">
          <div>
            <h2 class="text-2xl lg:text-4xl inline mr-2 text-gray-800"><a href="https://gitlab.com/scvalex" class="no-underline">Recent projects</a></h2>
          </div>
          <a href="https://gitlab.com/scvalex/ldgr" class="block no-underline mt-2 lg:mt-4">
            <h2 class="text-lg lg:text-2xl">ldgr</h2>
            <p class="mt-1 ml-4 pr-4">
              A suite of accounting tools with exciting features such
              as tax calculations and bank statement munging
            </p>
          </a>
          <a href="https://gitlab.com/abstract-binary/scvalex.net" class="block no-underline mt-2 lg:mt-4">
            <h2 class="text-lg lg:text-2xl">scvalex.net</h2>
            <p class="mt-1 ml-4">
              The generator and server for this website
            </p>
          </a>
          <a href="https://gitlab.com/abstract-binary/kubebro/" class="block no-underline mt-2 lg:mt-4">
            <h2 class="text-lg lg:text-2xl">kubebro</h2>
            <p class="mt-1 ml-4">
              An interactive command-line Kubernetes resource browser
            </p>
          </a>
          <a href="https://gitlab.com/abstract-binary/nix-nar-rs/" class="block no-underline mt-2 lg:mt-4">
            <h2 class="text-lg lg:text-2xl">nix-nar</h2>
            <p class="mt-1 ml-4">
              Binary and Rust library to manipulate Nix Archive (nar) files
            </p>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
