<svg
  width={{width}}
  height={{height}}
  viewBox="0 0 185.208 185.208"
  xmlns="http://www.w3.org/2000/svg"
  class="{{class}}"
>
  <path
    d="M92.256 0c-18.203 0-36.338 3.418-49.55 21.87-9.425 13.16-11.672 31.446-13.519 48.458-.595-.356-1.184-.736-2.116-.89-1.24-.205-2.921.311-3.914 1.36-.993 1.05-1.541 2.359-2.004 4.091-.925 3.464-1.417 8.85-1.417 17.862 0 3.965-.29 8.6.998 13.298 1.202 4.382 4.057 8.702 9.3 12.085 2.641 15.68 5.522 30.534 14.298 42.79 13.13 18.336 30.664 24.284 49.102 24.284 18.437 0 31.664-6.184 44.625-24.284 8.373-11.694 13.831-25.97 16.715-41.37 5.658-3.623 8.54-8.252 9.656-12.884 1.188-4.929.765-9.733.935-13.811.344-8.283.025-13.365-.841-16.768-.433-1.702-1.004-3.031-1.92-4.083-.916-1.052-2.286-1.69-3.473-1.776a7.01 7.01 0 0 0-1.033.003l-.005-.014-.066.024a6.785 6.785 0 0 0-2.06.515c-1.926-17.048-4.06-35.61-13.57-48.89C129.162 3.387 110.46 0 92.256 0zm0 5.206c17.602 0 33.828 2.817 45.911 19.691 8.487 11.852 10.772 30.015 12.726 47.262-7.557-.633-15.129-1.168-22.715-1.19-9.894-.061-19.753.947-29.535 2.352l-.017.229H86.923c-.006-.076-.01-.153-.017-.23a272.027 272.027 0 0 0-12.116-1.456c1.46-.084 2.682-.218 2.193-.426-11.844-5.046-17.93-8.691-24.653-9.763a8.16 8.16 0 0 0-1.16-.09c-4.127-.058-11.643 2.077-12.745 4.707-.88 2.1-.602 3.085-.716 5.619-1.17.093-2.338.189-3.507.286 1.886-17.32 4.231-35.425 12.734-47.3 12.106-16.905 27.718-19.69 45.32-19.69zm41.878 55.565a8.169 8.169 0 0 0-1.162.09c-6.722 1.072-12.808 4.717-24.651 9.763-1.065.454 5.966.554 5.966.554 8.516-1.51 10.746-4.423 19.906-5.288 5.236 0 9.106 3.17 13.411 5.423-.141-2.7.18-3.676-.726-5.835-1.103-2.63-8.617-4.765-12.744-4.707zM51.11 66.704c7.863.742 10.624 2.994 16.633 4.572a153.97 153.97 0 0 0-10.372-.307c-6.41.019-12.81.404-19.199.904 4.118-2.23 7.895-5.17 12.938-5.17zM26.713 74.93c.24.2.62.454 1.503 1.1.585.43 1.3 1.346 3.232.915.39-.087.745-.286 1.067-.519-.647 5.406-1.288 10.812-1.83 16.23l-.397 4.309c-.065.723-.14 1.446-.201 2.17.082.009.163.015.245.023.112 4.482.301 8.968.71 13.437-3.078-2.409-4.495-5.034-5.288-7.925-.994-3.624-.812-7.754-.812-11.92 0-8.806.561-13.973 1.241-16.519.239-.893.385-1.05.53-1.302zm32.85.272c7.429-.002 14.852.695 22.186 1.817 1.134 1.383 1.046 3.327 1.092 5.02-.11 4.445-1.125 8.837-2.375 13.11-15.593 1.142-31.308 2.375-46.904.824l2.507-19.982c7.834-.24 15.657-.78 23.495-.789zm66.423 0c7.837.01 15.66.55 23.494.79l2.508 19.98c-15.596 1.552-31.312.319-46.905-.824-1.25-4.271-2.266-8.664-2.375-13.11.046-1.692-.042-3.636 1.092-5.02 7.334-1.12 14.758-1.817 22.186-1.816zm32.702.245c.133.157.486.722.792 1.925.619 2.434 1.018 7.227.684 15.27-.188 4.533.135 8.957-.792 12.808-.746 3.096-2.13 5.875-5.438 8.46.187-1.872.343-3.744.473-5.613.193-3.029.32-6.064.397-9.1.22-.022.44-.039.658-.062-.18-2.161-.382-4.32-.598-6.479 0-.058.003-.116.001-.174.001-.127-.026-.114-.036-.185-.539-5.355-1.175-10.7-1.815-16.044l.083-.056c1.362.673 2.508.312 3.22.075 1.419-.473 2.311-.804 2.37-.824zM92.74 77.355c1.995.034 4.002.165 5.71.363a41 41 0 0 0 .008.859c.05 6.743 1.943 13.302 4.322 19.559 16.216 1.359 32.563 2.646 48.822 1.352-5.79 14.235-11.86 28.36-18.697 42.128a47.595 47.595 0 0 1-2.497 4.254 51.898 51.898 0 0 0-.478-1.382c-2.936-8.1-17.686-15.125-21.553-15.125-7.734 0-4.446 1.183-15.826 1.172-11.464-.01-7.044-1.188-15.887-1.188-4.422 0-19.158 7.4-21.94 15.69-.085.252-.165.505-.243.76-.605-.995-1.208-1.995-1.812-3.152-7.048-14.097-13.252-28.594-19.189-43.19 16.412 1.356 32.915.053 49.287-1.32 2.379-6.256 4.271-12.815 4.323-19.558.006-.331.007-.663.006-.994 1.664-.198 3.648-.262 5.644-.229zm-5.489 65.623c1.633.008 3.391.033 5.3.033 10.178 0 16.58-.597 22.182 4.698 2.86 2.702 5.512 5.524 8.351 7.89-2.534 3.2-5.84 5.878-9.807 7.044-.646.089-1.43.751-1.989.156-1.24-.775-1.465-2.279-1.89-3.55-.758-1.878-2.953-2.434-4.743-2.807-5.227-.906-10.567-.789-15.852-.721-3.549.174-7.22.216-10.585 1.491a4.79 4.79 0 0 0-2.98 3.243c-.357 1.237-1.106 2.386-2.26 3.01-3.716-.983-7.026-3.154-9.563-6.033 2.709-3.578 5.141-7.427 7.697-9.922 4.35-4.249 9.065-4.564 16.14-4.532z"
    fill="currentColor"
    color="currentColor"
  />
</svg>
