<meta charSet="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="icon" type="image/png" href="/r/icon.png" />
<link rel="alternate" type="application/atom+xml" title="Blog posts" href="/atom.xml" />
<link rel="alternate" type="application/atom+xml" title="Bookshelf" href="/books.xml" />

<title>{{title | strip_html}}</title>
<meta name="title" content="{{title | strip_html}}" />
{% if description %}
  <meta name="description" content="{{description | strip_html | replace: '"', '&quot;' | replace: "’", "'"}}" />
{% endif %}

<link rel="stylesheet" href="/r/screen3.css" type="text/css" />

<script async defer data-website-id="21fa18dc-48e0-481f-9b16-0a3b7605bf71" src="https://umami.scvalex.net/script.js"></script>
