<div class="mt-4 grid grid-cols-1 grid-rows-1 justify-content-center pt-4">
  <article class="bg-white shadow-md pt-8 pb-12 hentry lg:w-article lg:mx-auto">
    {% if draft %}
      <div class="mt-0 mb-8 block bg-red-500 text-black text-3xl text-center font-bold">
        DRAFT DRAFT DRAFT
      </div>
    {% endif %}
    <header class="ml-8">
      <h1 class="font-bold title-text entry-title">
        {% if post_number %}
          <a href="{{url}}">{{post_number}}. {{title}}</a>
        {% else %}
          <a href="{{url}}">{{title}}</a>
        {% endif %}
      </h1>
      <div class="mt-2">
        <time class="inline-block content-text text-gray-500 published">{{date}}</time>
        {% include "components/categories_line.liquid" %}
      </div>
    </header>
    <main class="post-content entry-content">
      {{content}}
    </main>
  </article>
</div>
