{% if image %}
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}
<meta name="twitter:creator" content="@scvalex" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://scvalex.net{{url}}" />
<meta property="og:title" content="{{title | strip_html}}" />
<meta property="og:description" content="{{description | strip_html | replace: '"', '&quot;' | replace: "’", "'"}}" />
{% if image %}
  <meta property="og:image" content="https://scvalex.net{{image}}" />
{% endif %}
<link rel="canonical" href="https://scvalex.net{{url}}" />
<script defer src="/r/feedback.js"></script>
<script defer src="/r/toc.js"></script>
{% if draft %}
<meta name="robots" content="noindex">
{% endif %}
