<footer class="text-center mt-6 pb-8 text-lg lg:text-xl lg:w-article lg:mx-auto">
  <ul class="text-gray-400">
    <li>
      © {{ most_recent_change | split: "-" | first }} Alexandru Scvorțov <code>(λyz.mailyscvalexznet)@.</code>
    </li>
    <ul>
      <li class="inline">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          CC BY-SA
        </a>
        |
      </li>
      <li class="inline">
        <a href="https://gitlab.com/abstract-binary/scvalex.net">All code</a>
        <a rel="license" href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12">EUPL-1.2-or-later</a>
      </li>
    </ul>
    <ul>
      <li class="inline">
        <a href="/">Home</a>
        |
      </li>
      <li class="inline"><a href="{{rss_url}}" class="hover:text-sky-800">RSS Feed{% include "components/rss.liquid" width: 16, height: 16, class: "inline ml-0.5 pb-0.5" %}</a></li>
    </ul>
  </ul>
</footer>
