<a href="/posts/{{post.post_number}}/" class="sm:flex sm:mt-2 lg:mt-4">
  <h2 class="flex-auto mt-2 sm:mt-0 underline decoration-1 decoration-gray-300">{{post.post_number}}. {{post.title}}</h2>
  <time class="flex-none sm:ml-4">{{post.date}}</time>
</a>
