<li class="pt-4 pb-4">
  <article class="bg-white shadow-md lg:w-article lg:mx-auto pt-8 pb-4">
    <header class="ml-8">
      <h2 class="font-bold title-text">
        <a href="/posts/{{post.post_number}}/">{{post.post_number}}. {{post.title}}</a>
      </h2>
      <div class="mt-2">
        <time class="inline-block content-text text-gray-500">{{post.date}}</time>
        {% include "components/categories_line.liquid" categories: post.categories %}
      </div>
    </header>
    <section class="post-content">
      {{post.description}}
    </section>
    <div class="text-right content-text mt-2 pr-4">
      ⤷
      <a href="/posts/{{post.post_number}}/" class="underline decoration-1 decoration-gray-300">Read more</a>
    </div>
  </article>
</li>
