{% assign prev_post_number = post_number | minus: 1 %}
{% if posts_map[prev_post_number] %}
  {% assign prev_post = posts_map[prev_post_number] %}
  {% capture prev_post_url %}/posts/{{prev_post.post_number}}/{% endcapture %}
{% endif %}
{% assign next_post_number = post_number | plus: 1 %}
{% if posts_map[next_post_number] %}
  {% assign next_post = posts_map[next_post_number] %}
  {% capture next_post_url %}/posts/{{next_post.post_number}}/{% endcapture %}
{% endif %}
<div class="text-center mt-4 lg:w-article lg:mx-auto">
  <ul class="text-2xl md:text-3xl text-gray-500 grid grid-cols-3">
    {% if prev_post %}
      {% include "components/list_link.liquid" href: prev_post_url, title: nil, rel: "prev", children: "⋘ Prev" %}
    {% else %}
      {% include "components/list_link.liquid" href: "/posts/41/", title: "pingcat", rel: "prev", children: "⋘ Prev" %}
    {% endif  %}
    {% include "components/list_link.liquid" href: "/posts/", title: nil, children: "All Posts" %}
    {% if next_post %}
      {% include "components/list_link.liquid" href: next_post_url, title: nil, rel: "next", children: "Next ⋙" %}
    {% else %}
      {% include "components/list_link.liquid" disabled: true, title: nil, children: "Next ⋙" %}
    {% endif %}
  </ul>
</div>
