<article class="bg-white shadow-md pt-4 pb-12 md:max-h-[70rem] md:overflow-y-scroll md:overscroll-contain">
  <header>
    <div class="text-center text-lg font-bold">
      {% case book.opinion %}
      {% when "must-read" %}
      <div class="group relative cursor-help">
        <img src="/r/thought-bubble.svg" alt="Thought bubble" class="inline mr-1" width=18 height=18> Must Read
        <p class="md:invisible md:absolute mx-auto font-normal text-justify leading-snug p-2 bg-white shadow-md w-4/5 md:left-[10%] group-hover:visible">
          {% include "components/circle_info.liquid" width: 18, height: 18, class: "inline text-gray-600 mb-1" %}
          If you have any interest at all in the subject, I think you
          should read this.
        </p>
      </div>
      {% when "maybe-read" %}
      <div class="group relative cursor-help">
        <img src="/r/thought-bubble.svg" alt="Thought bubble" class="inline mr-1" width=18 height=18> Maybe Read
        <p class="md:invisible md:absolute mx-auto font-normal text-justify leading-snug p-2 bg-white shadow-md w-4/5 md:left-[10%] group-hover:visible">
          {% include "components/circle_info.liquid" width: 18, height: 18, class: "inline text-gray-600 mb-1" %}
          If you read a lot in this subject area, then I think this
          is worth reading.
        </p>
      </div>
      {% when "dont-bother" %}
      <div class="group relative cursor-help">
        <img src="/r/thought-bubble.svg" alt="Thought bubble" class="inline mr-1" width=18 height=18> Don't Bother Reading
        <p class="md:invisible md:absolute mx-auto font-normal text-justify leading-snug p-2 bg-white shadow-md w-4/5 md:left-[10%] group-hover:visible">
          {% include "components/circle_info.liquid" width: 18, height: 18, class: "inline text-gray-600 mb-1" %}
          I can't imagine anyone I would recommend this to.  This is
          not necessarily because the book is bad per se; it's just that
          there are many better things to read.
        </p>
      </div>
      {% else %}
        <img src="/r/thought-bubble.svg" alt="Thought bubble" class="inline mr-1" width=18 height=18> {{book.opinion}}
      {% endcase %}
    </div>
    <div class="mt-4">
      <a href="{{book.link}}">
        <img
          src="{{book.cover_image}}"
          height={{book.cover_image_height}}
          width={{book.cover_image_width}}
          alt="Cover of {{book.title}}"
          class="mx-auto shadow" >
      </a>
    </div>
    <h2 class="mx-8 mt-4 text-center">
      <a class="block title-text" href="{{book.link}}">{{book.title}}</a>
      <span class="block mt-1 subtitle-text">{{book.author}}</span>
    </h2>
    <div class="mx-8 mt-6">
      <time class="block content-text text-gray-500">Read on {{book.read}}</time>
      <ul class="sm:inline-block">
        {% assign categories_sorted = book.categories | sort %}
        {% for c in categories_sorted %}
          <li class="inline-block content-text text-gray-500 mr-2">#{{c}}</li>
        {% endfor %}
      </ul>
    </div>
  </header>
  <section class="post-content">
    {{book.content_html}}
  </section>
</article>
