{% unless selected_category %}
  {% assign selected_category = "no category" %}
{% endunless %}
{% if categories %}
  <ul class="sm:inline-block sm:ml-4 space-x-2">
    {% assign categories_sorted = categories | sort %}
    {% for c in categories_sorted %}
      {% if c == selected_category %}
        <li class="inline-block content-text text-sky-900 font-bold"><a href="/posts/">#{{c}}</a></li>
      {% else %}
        <li class="inline-block content-text text-gray-500"><a href="/posts/{{c}}/">#{{c}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
