<svg
  width={{32}}
  height={{height}}
  viewBox="0 0 32 32"
  xmlns="http://www.w3.org/2000/svg"
  {% if class %}
  class="{{class}}"
  {% endif %}
>
  <path
    d="M.262.262h31.476v31.476H.262Zm0 10.492h31.476M.262 21.246h31.476M10.754.262v31.476M21.246.262v31.476"
    stroke="currentColor"
    fill="none"
  />
  <path
    d="M20.197 5.508A4.197 4.197 0 0 1 16 9.705a4.197 4.197 0 0 1-4.197-4.197A4.197 4.197 0 0 1 16 1.311a4.197 4.197 0 0 1 4.197 4.197ZM30.689 16a4.197 4.197 0 0 1-4.197 4.197A4.197 4.197 0 0 1 22.295 16a4.197 4.197 0 0 1 4.197-4.197A4.197 4.197 0 0 1 30.689 16zM9.705 26.492a4.197 4.197 0 0 1-4.197 4.197 4.197 4.197 0 0 1-4.197-4.197 4.197 4.197 0 0 1 4.197-4.197 4.197 4.197 0 0 1 4.197 4.197zM20.197 26.492A4.197 4.197 0 0 1 16 30.689a4.197 4.197 0 0 1-4.197-4.197A4.197 4.197 0 0 1 16 22.295a4.197 4.197 0 0 1 4.197 4.197zM30.689 26.492a4.197 4.197 0 0 1-4.197 4.197 4.197 4.197 0 0 1-4.197-4.197 4.197 4.197 0 0 1 4.197-4.197 4.197 4.197 0 0 1 4.197 4.197z"
    fill="currentColor"
  />
</svg>
