{% unless class %}
  {% assign class="" %}
{% endunless %}
{% unless title_class %}
  {% assign title_class="" %}
{% endunless %}
<div>
<div class="text-center mt-8">
  {% if link_to %}<a href="{{link_to}}">{% endif %}{% if width
  %}<img src="{{src}}" alt="{{title | strip_html}}" width={{width}} height={{height}} class="inline {{class}}">
  {% else
  %}<img src="{{src}}" alt="{{title | strip_html}}" class="inline {{class}}">
  {% endif %}{% if link_to %}</a>{% endif %}
</div>
{% if title %}
<div class="mt-2 mb-8 text-base md:text-xl text-center {{class}} {{title_class}} mx-auto">
  {{title}}
</div>
{% endif %}
</div>
