{% unless offset %}
  {% assign offset = 4 %}
{% endunless %}
<li class="inline-block relative flex h-16 justify-center">
  <a
    {% if href %}
    href="{{href}}"
    {% endif %}
    {% if rel %}
    rel="{{rel}}"
    {% endif %}
    {% if title %}
    title="{{title}}"
    {% endif %}
    {% if disabled %}
    class="pointer-events-none no-underline text-gray-300 absolute top-{{offset}} rounded py-1 px-2"
    {% else %}
    {% capture class %}
    no-underline absolute top-{{offset}}
    {% if circle %}
    rounded-full
    {% else %}
    rounded
    {% endif %}
    py-1 px-2 hover:text-inherit hover:drop-shadow hover:bg-gray-100 active:drop-shadow-none active:top-{{offset | plus: 1}}
    {% endcapture %}
    class="{{class}}"
    {% endif %}
  >{{children}}</a>
</li>
