<div>
  <div class="mt-8 grid grid-cols-1 grid-rows-1 justify-items-center">
    <a href="{{url}}">
      {% qrcode url %}
    </a>
  </div>
  <div class="mt-2 mb-4 text-base md:text-xl text-center">
    <a href="{{url}}" class="break-all inline-block" style="max-width: 300px">
      {{url}}
    </a>
  </div>
</div>
