<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@scvalex" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{title | strip_html}}" />
{% if image %}
  <meta property="og:image" content="https://scvalex.net{{image}}">
{% endif %}
