<header class="text-center pt-4 text-gray-500 lg:w-article lg:mx-auto">
  <ul class="text-xl lg:text-3xl text-gray-500 grid grid-cols-1">
    {% capture avatar %}
      {% include "components/avatar.liquid" class: "inline", width: "60", height: "60" %}
    {% endcapture %}
    {% include "components/list_link.liquid" title: nil, children: avatar, href: "/", offset: 0, circle: true %}
  </ul>
</header>
