<nav>
  <ul class="mx-auto w-[24rem] md:w-[40rem] mt-2 mb-8 flex justify-evenly space-x-2 text-gray-500 text-lg">
    <li class="inline">{% if url == "//" %}<span class="font-bold text-sky-900">Home</span>{% else %}<a class="underline decoration-gray-300" href="/">Home</a>{% endif %}</li>
    <li class="inline">{% if url == "/posts/" %}<span class="font-bold text-sky-900">Posts</span>{% else %}<a class="underline decoration-gray-300" href="/posts/">Posts</a>{% endif %}</li>
    <li class="inline">{% if url == "/bookshelf/" %}<span class="font-bold text-sky-900">Bookshelf</span>{% else %}<a class="underline decoration-gray-300" href="/bookshelf/">Bookshelf</a>{% endif %}</li>
    <li class="inline">{% if url == "/contact/" %}<span class="font-bold text-sky-900">Contact</span>{% else %}<a class="underline decoration-gray-300" href="/contact/">Contact</a>{% endif %}</li>
  </ul>
</nav>
