---
title = "All books on Alex's bookshelf"
description = "All books on Alex's bookshelf"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/base_head.liquid" %}
    {% include "components/standalone_head.liquid" image: "/r/avatar2.png" %}
    <link rel="canonical" href="https://scvalex.net/posts/" />
    <script defer src="/r/bookshelf.js"></script>

    {% include "components/math_head.liquid" %}
  </head>

  <body class="bg-gray-100 text-gray-900">
    {% include "components/top_bar.liquid" %}

    <div class="mx-auto w-min md:w-[50rem] lg:w-[70rem]">
      <div class="flex items-center mt-4">
        <h1 class="text-3xl lg:text-4xl inline mr-2 text-gray-800">Bookshelf</h1>
        <a href="/books.xml">{% include "components/rss.liquid" width: 18, height: 18, class: "inline ml-1 text-gray-600 hover:text-sky-800" %}</a>
      </div>

      <p class="mt-6 px-4 py-2 text-justify content-text border-y-2 border-dotted border-gray-900">
        {% include "components/circle_info.liquid" width: 18, height: 18, class: "inline text-gray-600 mb-1" %}
        This is my bookshelf—the books I've read recently and my
        thoughts on them.  These do not attempt to be objective
        reviews.  Instead, I try to
        answer the question of whether I'd recommend these books to
        somebody <em>already interested in their subject matter</em>.  I suggest
        you browse by clicking on the tags below.
      </p>

      <div id="filters-container" class="grid gap-x-2 grid-cols-[auto_1fr] mt-4" style="visibility: hidden;">
        <span class="text-gray-500 text-xl font-bold">Eval:</span>
        <ul id="opinion-filters" class="inline space-x-2"></ul>
        <span class="text-gray-500 text-xl font-bold">Read:</span>
        <ul id="year-filters" class="inline space-x-2"></ul>
        <span class="text-gray-500 text-xl font-bold">Tag:</span>
        <ul id="category-filters" class="inline space-x-2"></ul>
      </div>
      <noscript>
        <div class="text-gray-500 text-xl font-bold">Enable JavaScript to get filtering.</div>
      </noscript>

      <ul id="booklist" class="mt-2 flex flex-wrap snap-y">
        {% for book in books %}
        <li
          class="flex-none snap-start pt-4 pb-4 md:mr-4"
          data-categories="{{book.categories | join: " "}}"
          data-opinion="{{book.opinion}}"
          data-read-date="{{book.read}}"
        >
          {% include "components/book_preview.liquid" book: book %}
        </li>
        {% endfor %}
      </ul>
    </div>

    {% include "components/scroll_to_top.liquid" %}

    {% include "components/blog_post_footer.liquid" most_recent_change: posts.first.date, rss_url: "/books.xml" %}
  </body>
</html>
