@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO Convert all of the below to @apply directives. */
@layer base {
    @font-face {
        font-family: 'Atkinson-Hyperlegible';
        src: url('/r/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Atkinson-Hyperlegible';
        src: url('/r/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
        font-weight: bold;
    }

    @font-face {
        font-family: 'Atkinson-Hyperlegible';
        src: url('/r/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
        font-style: italic;
    }

    @media (prefers-color-scheme: dark) {
        * { filter: invert(); }
        * > * { filter: none; }
        img { filter: invert(); opacity: 75%; }
    }

    h1 a, h2 a, h3 a, h4 a {
        @apply no-underline;
    }

    strong {
        @apply font-bold;
    }

    .title-text {
        @apply text-2xl md:text-3xl font-bold text-gray-800;
    }

    .subtitle-text {
        @apply italic text-xl md:text-2xl font-bold text-gray-800;
    }

    .content-text {
        @apply text-lg sm:text-xl;
    }

    .post-content {
        @apply content-text -mt-2 text-left sm:text-justify;
    }

    .post-content p {
        @apply mt-7 ml-8 pr-8;
    }

    .post-content details summary {
        @apply mt-7 ml-12 pr-8 cursor-pointer;
    }

    .post-content details[open] summary {
        @apply mt-7 -mb-4 ml-12 pr-8 cursor-pointer;
    }

    .post-content h3 {
        /* The -1rem eats some of the top margin of the next <p>. */
        @apply font-bold text-xl md:text-2xl mt-10 -mb-2 ml-8;
    }

    .post-content h3 code {
        @apply text-xl md:text-2xl bg-sky-50 pt-2 px-1;
    }

    .post-content h4 {
        @apply font-bold text-lg md:text-2xl;
    }

    .post-content code, h2 code, h1 code {
        /* The monospace and bolded code "looks" bigger, so let's make it a
           bit smaller. */
        @apply bg-sky-50 pt-1 px-1;
        font-size: 0.85em;
    }

    .post-content div.overflow-auto > pre {
        @apply m-0;
    }

    /* This is used for blocks without syntax highlighting. */
    .post-content pre {
        /* This is meant to look like prism.css. */
        @apply my-8 font-mono py-4 pl-8 !text-base;
        background-color: #f5f2f0;
        border-top: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        border-left: .3rem solid #556270;
        overflow-x: auto;
        line-height: 1.5;
    }

    .post-content pre code {
        @apply px-0;
    }

    .post-content table {
        @apply mt-8 ml-8;
    }

    .post-content table td, .post-content table th {
        @apply px-4;
    }

    .post-content table thead {
        @apply border-b-2 border-gray-900;
    }

    .post-content div.floatTitle {
        @apply text-base md:text-xl text-center;
        margin: -1.3rem 0 2rem 0;
    }

    .post-content div.imgFloat {
        @apply text-center my-8;
    }

    .post-content div.tableFloat {
        @apply grid grid-cols-1 grid-rows-1 place-items-center;
    }

    .post-content div.infoBox {
        @apply mt-6 py-4 pr-4 bg-sky-50 border-l-4 border-sky-300;
    }

    .post-content div.infoBox > :first-child {
        @apply ml-8 mt-0;
    }

    .post-content div.infoBox p {
        @apply ml-8;
    }

    .post-content ol, .post-content ul {
        @apply pl-16;
    }

    .post-content ul li {
        @apply mt-2 list-disc;
    }

    .post-content ol li {
        @apply mt-2 list-decimal;
    }

    .post-content ol li p, .post-content ul li p {
        @apply ml-2 mt-4 pr-12;
    }

    .post-content ol li pre {
        @apply mt-2 -ml-16;
    }

    .post-content dl {
        @apply grid gap-x-4;
        grid-template-columns: auto 1fr;
    }

    .post-content dt {
        @apply font-bold;
    }

    .post-content dd ul {
        @apply m-0 p-0;
    }

    .post-content dd ul li {
        @apply inline list-none rounded px-[0.5em] bg-sky-50;
    }

    #floating-toc {
        @apply sticky top-[10px] h-0;
    }

    #floating-toc > div {
        @apply pt-1 px-2 pb-4 bg-white shadow-md ml-article w-48 text-left;
    }

    #floating-toc h3 {
        @apply mx-0 mt-0 -mb-2 font-bold text-xl;
    }

    #floating-toc ul {
        @apply pl-5 space-y-2;
    }

    #floating-toc li {
        @apply text-xl list-square leading-tight;
    }

    #floating-toc a.selected {
        @apply font-bold;
    }

    #fixed-toc h3 {
        @apply mb-4;
    }

    /* Begin hack for post 54 */
    .post-content ul .py-1 {
        @apply py-0;
    }

    .post-content ul .px-2 {
        @apply px-1;
    }
    /* End hack for post 54 */

    .post-content p a, .post-content li a, .post-content div a {
        @apply underline decoration-1 decoration-sky-400;
    }

    a:hover {
        @apply text-sky-800;
    }

    footer a {
        @apply underline decoration-1;
    }

    blockquote {
        @apply mt-6 mx-8;
        background: url("../../r/quote.png") no-repeat scroll 6px 3px transparent;
    }

    blockquote p {
        @apply leading-8 italic mt-0 ml-8 mb-4;
    }

    .spoiler {
        @apply text-white outline-dotted outline-1 outline-slate-500;
    }

    .key {
        @apply inline-block bg-gray-100 border-2 border-solid border-gray-200 rounded px-2 min-w-[2rem] text-center;
    }

    #filters-container li[data-selected="yes"] {
        @apply text-sky-900 font-bold;
    }

    #booklist > li {
        width: 22rem;
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    #booklist > li article {
        width: 22rem;
    }

    #booklist > li.bookHidden {
        width: 0;
        opacity: 0;
        visibility: collapse;
    }

    /* Math */
    .katex-html {
        @apply text-xl;
    }

    /* There's a conflict between Prism and TailwindCSS when highlighting
       TOML code blocks. */
    code .table {
        display: inline;
    }

    /**
     * prism.js default theme for JavaScript, CSS and HTML
     * Based on dabblet (http://dabblet.com)
     * @author Lea Verou
     *
     * Modified in all sorts of ways by @scvalex.
     */

    code[class*="language-"],
    pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
        font-size: 0.95em;
        font-variant-ligatures: none;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
    }

    pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
    }

    pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
    code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
    }

    @media print {
	code[class*="language-"],
	pre[class*="language-"] {
	    text-shadow: none;
	}
    }

    /* Code blocks */
    pre[class*="language-"] {
	padding: 1rem 0rem 1rem 2rem;
	/* margin: .5em 0; */
	overflow: auto;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
	background: #f5f2f0;
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
	color: slategray;
    }

    .token.punctuation {
        @apply text-gray-600;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
	color: #905;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
	color: #3d5c00;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.embedded {
	color: #9a6e3a;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword,
    .token.variable-builtin {
	color: #07a;
    }

    .token.function,
    .token.class-name {
	color: #DD4A68;
    }

    .token.regex,
    .token.important,
    .token.variable,
    .token.variable-parameter {
	color: #be7a00;
    }

    .token.important,
    .token.bold {
	font-weight: bold;
    }
    .token.italic {
	font-style: italic;
    }

    .token.entity {
	cursor: help;
    }
}
